/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Profile Container */
.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-header h2 {
  margin: 10px 0;
}

.profile-header p {
  margin: 5px 0;
}

.profile-header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.profile-header button:hover {
  background-color: #0056b3;
}

/* Profile Edit Form */
.profile-edit {
  text-align: left;
}

.profile-edit h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-edit button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.profile-edit button[type="button"] {
  background-color: #6c757d;
}

.profile-edit button:hover {
  background-color: #0056b3;
}

.profile-edit button[type="button"]:hover {
  background-color: #5a6268;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px; /* Adjust this based on the size of the button */
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password i {
  font-size: 1.1em;
  color: rgb(151, 148, 148);
}
