<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>
            We are a leading e-commerce platform, providing the best products at the best prices.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            Email: aashutoshkale414gmail.com<br>
            Phone: 8087478894
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Your E-Commerce Platform. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  